In [2]:
# Importando todas las librerías requeridas para el análisis

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# Cargando el archivo commo dataframe
df_dvio = pd.read_csv("./data/violencia.csv")

In [6]:
# Verificando los tipos de datos de las columnas
df_dvio.dtypes

DEPARTAMENTO    object
MUNICIPIO       object
CODIGO DANE      int64
ARMAS MEDIOS    object
FECHA HECHO     object
GENERO          object
GRUPO ETARIO    object
CANTIDAD         int64
dtype: object

In [9]:
# Complementando la tabla de frecuencias agregando la frecuencia relativa de cada posición
abs_frecuency = df_dvio["DEPARTAMENTO"].value_counts().to_frame()
#pd.concat([abs_frecuency, rel_frecuency], axis = 1)
abs_frecuency

                    DEPARTAMENTO
CUNDINAMARCA              184446
ANTIOQUIA                  86893
VALLE                      75561
SANTANDER                  54525
BOYACÁ                     33540
ATLÁNTICO                  26318
META                       23548
HUILA                      22051
TOLIMA                     21402
NORTE DE SANTANDER         20907
RISARALDA                  20055
NARIÑO                     19926
BOLÍVAR                    19711
CAUCA                      18503
CÓRDOBA                    13262
MAGDALENA                  12845
SUCRE                      11708
CALDAS                     10013
CESAR                       8821
CASANARE                    7308
CAQUETÁ                     5850
QUINDÍO                     5308
GUAJIRA                     5125
ARAUCA                      4320
PUTUMAYO                    3336
CHOCÓ                       2260
AMAZONAS                    1617
SAN ANDRÉS                  1289
GUAVIARE                     972
GUAINÍA                      552
VICHADA                      440
VAUPÉS                       410

In [10]:
#TOP 3 departamentos más afectados por violencia intrafamiliar de Enero de 2010 hasta Julio de 2021
abs_frecuency.head(3)

              DEPARTAMENTO
CUNDINAMARCA        184446
ANTIOQUIA            86893
VALLE                75561

In [11]:
#Convertir el set FECHA HECHO de type object a type date
anio = pd.to_datetime(df_dsex["FECHA HECHO"])
anio

0        2010-01-01
1        2010-01-01
2        2010-01-01
3        2010-01-01
4        2010-01-01
            ...
722817   2021-07-31
722818   2021-07-31
722819   2021-07-31
722820   2021-07-31
722821   2021-07-31
Name: FECHA HECHO, Length: 722822, dtype: datetime64[ns]

In [12]:
#TOP 3 departamentos más afectados por violencia intrafamiliar en el último año
df_ultanio = df_dvio.loc[anio > "2020-07-31"]
absanio_frecuency = df_ultanio["DEPARTAMENTO"].value_counts().to_frame()
absanio_frecuency.head(3)

              DEPARTAMENTO
CUNDINAMARCA         26880
ANTIOQUIA            14587
VALLE                 8300

In [13]:
#Arma más común en los delitos de violencia intrafamiliar.
arm_frecuency = df_dvio["ARMAS MEDIOS"].value_counts().to_frame()
arm_frecuency.head(1)

              ARMAS MEDIOS
CONTUNDENTES        364692